
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* MODO OSCURO */
body.dark {
    background: #160f29;
    color: #edfff7;
}


.header.dark{
    background-color: #160f29;
}

.footer.dark{
    background-color: #160f29;
    margin-bottom: 2%;
}

.hero.dark{
    background-image: url(https://images.pexels.com/photos/34837970/pexels-photo-34837970.png);
}

.card.dark{
    background-color: #060b18;
    color: #daffef;
}
.info-detallada.dark{
    background-color: #060b18;
}
.info.dark{
    background-color: #160f29;
    border-radius: 10px;
    padding: 2.5%;
}

/* BOTONES MODO OSCURO */
.btn.dark-btn,
#btnAbrir.dark-btn,
#btnCerrar.dark-btn,
.boton-info.dark-btn {
    background-color: #0e1525 !important;
    color: #daffef !important;
    border: 1px solid #34415e !important;
}

.btn.dark-btn:hover,
#btnAbrir.dark-btn:hover,
#btnCerrar.dark-btn:hover,
.boton-info.dark-btn:hover {
    background-color: #1c2541 !important;
    color: #ffffff !important;
}


/* MODO CLARO APARTIR DE AQUI */
.header {
    background: #006D77;
    color: white;
    padding: 0.7% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}



.nav .btn {
    padding: 10px 12px;
    margin-left: 10px;
    background: #8ac6d0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.nav .btn:hover {
    background-color: #07beb8;
}


.hero {
    height: 90vh;
    background: url('https://images.pexels.com/photos/18126009/pexels-photo-18126009.jpeg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.hero-content {
    background: rgba(0,0,0,0.5);
    padding: 4%;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#btnAbrir {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #8ac6d0;
    color: #160f29;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    border: none;
}

#btnAbrir:hover {
    background-color: #07beb8;
    color: #fff;
    border: none;
}

#btnCerrar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #8ac6d0;
    color: #160f29;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

#btnCerrar:hover {
    background-color: #07beb8;
    color: #fff;
    border: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 8%;
}

.modal p{
    margin-top: 4%;
    margin-bottom: 3%;
}

.modal.oculto {
  opacity: 0;
  pointer-events: none;
}

.modal-contenido {
  background-color: #daffef;
  color: #160f29;
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.modal-contenido img{
  max-width: 60%;
  height: auto;
}
.modal.oculto .modal-contenido {
  transform: scale(0.8);
}


.destinos {
    padding: 2% 6%;
}

.destinos h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #160f29;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(25% - 20px);
    background: #daffef;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid transparent;
    transition: transform 0.3s, border 0.3s;
}
.card h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}


.card img {
    width: 100%;
    border-radius: 10px;
}

/* HOVER PARA EL JAVA */
.card.hovered {
    transform: scale(1.05);
    border-color: #006D77;
}


.info-detallada {
    padding: 3% 7%;
    align-items: center;
}
.info-detallada h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/* INFO DETALLADA PARA EL JAVA */
.info {
    background: #daffef;
    margin-top: 10px;
    transition: opacity 0.4s ease;
    border-radius: 10px;
    padding: 2.5%;
}

.info.hidden {
    display: none;
    opacity: 0;
}

.boton-info{
    padding: 1%;
    background-color: #8ac6d0;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: #160f29;
    font-size: 90%;
    margin-top: 2%;
}


.footer {
    background: #006D77;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/*MEDIA QUERIES (posible puntos extra para subir algo mi nota)*/
@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}